.app-header-mail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    background-color: #f6f8fc;
    border-bottom: none;
}

.logo-title {
    margin-inline-start: 10px;
    font-size: 1.5rem;
}

.logo-container {
    min-width: 17.4rem;
}

.logo {
    max-width: 40px;
}

.menu {
    margin-inline: 10px;
}