.app-header-mail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    background-color: #f6f8fc;
    border-bottom: none;
}

.app-header-mail input:focus {
    background-color: #fff;
}

.main-search {
    margin-inline-start: 10.8rem;
}

.main-search input {
    background-color: #eaf1fb;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    width: 710px;
    line-height: 27px;
    min-height: 50px;
}