.tr-container .material-symbols-outlined {
    color: #444;
    border: none;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
}

.tr-container .fa-solid.fa-star {
    color: #f7ca4c;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    font-size: 17px;
}

.tr-container .material-symbols-outlined:hover,
.tr-container .fa-solid.fa-star:hover {
    background-color: #dde3ec;
}

.tr-container {
    height: 43px;
}

.tr-container {
    min-height: 40px;
    position: relative;
    border-block: 1px solid #e1e7ee;
}

.tr-container.read {
    background-color: #f2f6fc;
}

.tr-container:hover {
    z-index: 10;
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15)
}

.tr-container:hover .preview-star .material-symbols-outlined {
    opacity: 1;
}

.preview-sent-at,
.remove-mail {
    text-align: end;
    width: 200px;
}

.between-span {
    margin-inline: 10px;
}

.preview-body,
.preview-sent-at {
    color: #5f6368;
}

.preview-subject,
.preview-from,
.preview-sent-at {
    color: #202124;
}

tr.non-read .preview-subject,
tr.non-read .preview-from,
tr.non-read .preview-sent-at {
    font-weight: 700;
}

tr.non-read .preview-body {
    font-weight: 100;
}

.preview-star .fa-solid.fa-star {
    color: #f7ca4c;
}

.preview-star .material-symbols-outlined {
    opacity: .3;
}

.preview-star {
    width: 40px;
    padding-inline-end: 10px;
}

.preview-from {
    width: 80px;
    padding-inline-end: 40px;
}

.preview-subject {
    min-width: max-content;
    max-width: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.preview-body {
    min-width: max-content;
    max-width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.preview-sent-at,
.preview-tools {
    max-width: 150px;
}

.preview-tools {
    position: relative;
    float: right;
}

.preview-tools :first-child {
    margin-inline-end: .3rem;
}