.mail-sort {
    padding-block-end: 10px;
    padding-inline-start: 10px;
}

.mail-sort button {
    cursor: pointer;
    border: 1px solid gray;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    background-color: #fff;
    color: #000;
    font-size: .9rem;
    height: 1.7rem;
    max-width: 7rem;
    margin-inline-end: 10px;
    padding-inline-end: 1rem;
}