.material-symbols-outlined {
    cursor: pointer;
}

.tr-container {
    max-height: 45px;
}

.preview-sent-at,
.remove-mail {
    text-align: end;
    width: 200px;
}

.between-span {
    margin-inline: 10px;
}

.preview-body,
.preview-sent-at {
    color: #5f6368;
}

.preview-subject,
.preview-from {
    color: #202124;
}

tr.non-read .preview-subject,
tr.non-read .preview-from,
tr.non-read .preview-sent-at {
    font-weight: 700;
}

.preview-star {
    width: 5%;
}

.preview-from {
    width: 15%;
}

.preview-content {
    width: 70%;
}

.preview-sent-at {
    width: 10%;
}

.preview-tools :first-child {
    margin-inline-end: 1.3rem;
}


.preview-tools .material-symbols-outlined:hover {
    box-shadow: 1px solid black;
}