.SidebarMail {
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    height: 92vh;
    min-width: 17.4rem;
    background-color: #f6f8fc;
}

.SidebarMail .compose-title {
    font-size: 1rem;
}

.SidebarMail .compose-btn {
    margin-inline: 10px;
    max-width: 152px;
    height: 60px;
    border-radius: 16px;
    text-align: center;
    margin-block-end: 16px;
    background-color: #c2e7ff;
    transition: box-shadow .08s linear, min-width .15s cubic-bezier(0.4, 0, 0.2, 1)
}

.SidebarMail .compose-btn:hover {
    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302), 0 4px 8px 3px rgba(60, 64, 67, 0.149);
}

.compose-btn .compose-title {
    margin-inline-start: 1rem;
}

.SidebarMail .inbox-btn,
.SidebarMail .starred-btn,
.SidebarMail .sent-btn,
.SidebarMail .drafts-btn,
.SidebarMail .trash-btn {
    height: 2.2rem;
    font-size: 1rem;
    margin: 0;
    margin-inline-end: 1.3rem;
    padding-inline-start: 2rem;
    border-end-end-radius: 1.3rem;
    border-start-end-radius: 1.3rem;
}

.SidebarMail .inbox-btn .unread-mails {
    align-self: center;
    padding-inline-end: 1rem;
}

.SidebarMail .inbox-btn.active {
    text-decoration: none;
    background-color: #d3e3fd;
}

.SidebarMail .material-symbols-outlined {
    margin-inline-end: 1.2rem;
    font-size: 1.4rem;
}

.SidebarMail .compose-btn .material-symbols-outlined {
    font-size: 1.7rem;
    margin-inline-end: 0px;
}