.SidebarMail {
    position: relative;
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    background-color: #f6f8fc;
    height: 92vh;
}

.SidebarMail.open,
.SidebarMail.hover {
    z-index: 20;
    width: 280px;
}

.SidebarMail .container {
    position: relative;
}

.SidebarMail .compose-title {
    font-size: 1rem;
}

.SidebarMail.close .inbox-btn .material-symbols-outlined,
.SidebarMail.not-hover .inbox-btn .material-symbols-outlined {
    margin-inline-start: 22px;
    background-color: #e3e6e9;
    color: #444746;
    border: none;
    border-radius: 50%;
    padding: 4px;
}

.SidebarMail.hover .inbox-btn .material-symbols-outlined,
.SidebarMail.open .inbox-btn .material-symbols-outlined {
    background-color: rgba(0, 0, 0, 0);
    margin-inline-start: 0px;
    padding: 0px;
    border-radius: 0;
}

.SidebarMail.close .sent-btn .material-symbols-outlined,
.SidebarMail.close .starred-btn .material-symbols-outlined,
.SidebarMail.not-hover .sent-btn .material-symbols-outlined,
.SidebarMail.not-hover .starred-btn .material-symbols-outlined {
    background-color: #e3e6e9;
    color: #444746;
    border: none;
    border-radius: 50%;
    padding: 4px;
    position: absolute;
    left: -10px;
}

.SidebarMail.close .sent-btn.is-active .material-symbols-outlined,
.SidebarMail.close .starred-btn.is-active .material-symbols-outlined,
.SidebarMail.close .inbox-btn.is-active .material-symbols-outlined {
    background-color: #d3e3fd;
}

.SidebarMail.open .sent-btn .material-symbols-outlined,
.SidebarMail.open .starred-btn .material-symbols-outlined,
.SidebarMail.hover .sent-btn .material-symbols-outlined,
.SidebarMail.hover .starred-btn .material-symbols-outlined {
    background-color: rgba(0, 0, 0, 0);
    position: static;
    padding: 0px;
    border-radius: 0;
}

.SidebarMail .compose-btn {
    margin-inline: 10px;
    max-width: 152px;
    height: 60px;
    border-radius: 16px;
    text-align: center;
    margin-block-end: 16px;
    background-color: #c2e7ff;
    transition: box-shadow .08s linear, min-width .15s cubic-bezier(0.4, 0, 0.2, 1);
}

.SidebarMail .compose-btn:hover {
    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302), 0 4px 8px 3px rgba(60, 64, 67, 0.149);
}

.compose-btn .compose-title {
    margin-inline-start: 1rem;
}

.SidebarMail .inbox-btn,
.SidebarMail .starred-btn,
.SidebarMail .sent-btn,
.SidebarMail .draft-btn,
.SidebarMail .trash-btn {
    height: 2.2rem;
    font-size: 1rem;
    cursor: pointer;
}

.SidebarMail .inbox-btn .material-symbols-outlined {
    align-self: center;
}


.SidebarMail.open .inbox-btn,
.SidebarMail.open .starred-btn,
.SidebarMail.open .sent-btn,
.SidebarMail.hover .inbox-btn,
.SidebarMail.hover .starred-btn,
.SidebarMail.hover .sent-btn {
    padding-inline-start: 2rem;
    border-end-end-radius: 1.3rem;
    border-start-end-radius: 1.3rem;
    margin-inline-end: 1.3rem;
}

.SidebarMail .inbox-btn .unread-mails {
    align-self: center;
    padding-inline-end: 1rem;
}


.SidebarMail.open .inbox-btn.is-active,
.SidebarMail.open .starred-btn.is-active,
.SidebarMail.open .sent-btn.is-active {
    text-decoration: none;
    background-color: #d3e3fd;
}

.SidebarMail.hover .inbox-btn.is-active,
.SidebarMail.hover .starred-btn.is-active,
.SidebarMail.hover .sent-btn.is-active {
    text-decoration: none;
    background-color: #d3e3fd;
}

.SidebarMail .inbox-btn:hover,
.SidebarMail .starred-btn:hover,
.SidebarMail .sent-btn:hover,
.SidebarMail .draft-btn:hover,
.SidebarMail .trash-btn:hover {
    background-color: #eaebef;
}

.SidebarMail.open .material-symbols-outlined,
.SidebarMail.hover .material-symbols-outlined {
    margin-inline-end: 1.2rem;
}

.SidebarMail .compose-btn .material-symbols-outlined {
    font-size: 1.7rem;
    margin-inline-end: 0px;
}