.note-preview-container {
  position: relative;
  width: 240px; /* jusy for now */
}

.note-preview {
  border: 1px solid #e0e0e0;
  overflow: hidden;
  margin: 10px;
  border-radius: 8px;
  transition: 0.2s;
  width: 100%;
}

/* cover eith div */
.note-preview > img {
  width: 100%;
}

.note-preview > .note-title {
  padding: 12px 16px 0;
}

.note-preview > .note-txt {
  margin: 0;
  padding: 12px 16px;
}

.note-preview > .note-preview-btns {
  opacity: 0;
  transition: opacity 0.2s;
}

.note-preview-btns > button,
.color-pallete > button {
  border: none;
  border-radius: 50%;
  width: 34px;
  height: 34px;
}

.note-preview-btns > button {
  background-color: transparent;
}

/* TODO - make it in the center of the article (.note-preview-container) */
.color-pallete {
  position: absolute;
  bottom: -40px;
  left: 10;
  z-index: 10;
  width: fit-content;
  border: 1px solid #e0e0e0;
  box-shadow: 0 1px 5px #b9b9b9;
  padding: 8px 9px;
  background-color: white;
  gap: 5px;
  border-radius: 8px;
}

.color-pallete .transparent {
  background-color: transparent;
  border: 2px solid #e0e0e0;
}
.lightblue {
  background-color: lightblue;
}
.lightgreen {
  background-color: lightgreen;
}
.lightpink {
  background-color: lightpink;
}
.lightcoral {
  background-color: lightcoral;
}
.lightsalmon {
  background-color: lightsalmon;
}
.lightseagreen {
  background-color: lightseagreen;
}

/* HOVER */

.note-preview:hover {
  box-shadow: 0 1px 5px #b9b9b9;
}
.note-preview-btns > *:hover {
  background-color: #e0e0e0;
}
.note-preview:hover > .note-preview-btns {
  opacity: 1;
}

.color-pallete > button:hover {
  border: 2px solid black;
}
