.flex {
  display: flex;
}

.flex.col {
  flex-direction: column;
}

.column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.grid {
  display: grid;
}

.grid.flow-col {
  grid-auto-flow: column;
}