header {
    background-color: #f6f8fc;
    border-bottom: 2px solid white;
}

.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 0px;
    min-height: 8vh;
    background-color: #f6f8fc;
    border-bottom: none;
}

.app-header .logo-container h3 {
    font-size: 30px;
    font-family: madrigal;
}

.app-header .logo-container {
    margin-inline-start: 15px;
}

.app-header nav {
    margin-inline-end: 15px;
}

nav a {
    margin: .5em;
}

nav a:active {
    color: purple;
}

nav a.active {
    color: darkblue;
    font-weight: bold;
    text-decoration: underline;
}

.app-header>nav>button {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    border: 0;
    background-color: inherit;
}

.app-header>nav>button>img {
    border-radius: 50%;
    position: absolute;
    padding: 5px;
}