.menu-modal {
  background-color: #fff;
  width: 120px;
  height: 64px;
  position: absolute;
  top: 80px;
  right: 20px;
  z-index: 20;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.modal-container a {
  margin: 8px;
  box-sizing: border-box;
}
